<!-- footer -->
<footer role="contentinfo">
    <div class="container">
        <div class="row">

            <!-- footer-associates -->
            <section class="footer-associates col-sm-12 col-md-3">
                <ul>
                    <li><a href="http://www.iastate.edu"><img src="https://cdn.theme.iastate.edu/img/isu-stacked.svg" class="wordmark-isu" alt="Iowa State University"></a></li>
                    <li><a href="{{site.url}}">{{site.title}}</a></li>
                </ul>
            </section>

    <section class="footer-contact col-sm-12 col-md-3">
        <p>
            <strong>{{site.title}}</strong><br>
            <a href="https://goo.gl/maps/4MQMm3sWCeEwSuDt7"> {{site.address}} </a>
        </p>
        <a href="mailto:trac@iastate.edu">trac@iastate.edu</a> <br>
<a href="tel:"> phone</a>
    </section>

            <!-- footer-social -->
            <section class="footer-social labeled col-sm-12 col-md-3">
                <ul>
                    <li>
                        <a href="http://web.iastate.edu/social/"><span class="footer-social-icon fas fa-share-alt-square" aria-label="hidden"></span>Social Media Directory</a>
                    </li>
                    <li>
                        <a href="http://facebook.com/iowastateu/"><span class="footer-social-icon fab fa-facebook-square" aria-label="hidden"></span>Facebook</a>
                    </li>
                    <li>
                        <a href="http://twitter.com/iowastateu/"><span class="footer-social-icon fab fa-twitter-square" aria-label="hidden"></span>Twitter</a>
                    </li>
                    <li>
                        <a href="http://instagram.com/iowastateu/"><span class="footer-social-icon fab fa-instagram" aria-label="hidden"></span>Instagram</a>
                    </li>
                </ul>
            </section>

            <!-- footer-legal -->
            <section class="footer-legal col-sm-12 col-md-3">
                <p>
                    Copyright &copy; 1995-<script>document.write(new Date().getFullYear())</script><br>
                    Iowa State University<br>
                    of Science and Technology<br>
                    All rights reserved.
                </p>
                <ul>
                    <li><a href="http://www.policy.iastate.edu/policy/discrimination">Non-discrimination Policy</a></li>
                    <li><a href="http://www.policy.iastate.edu/electronicprivacy">Privacy Policy</a></li>
                    <li><a href="http://digitalaccess.iastate.edu">Digital Access &amp; Accessibility</a></li>
                </ul>
            </section>

        </div>
    </div>
</footer>
<!-- /footer -->

<!-- loading -->
<div id="loading" class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        Loading...
    </div>
</div>
<!-- /loading -->


{% assign url = site.baseurl | prepend: site.url %}

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{url}}/assets/js/vendor/bootstrap.min.js"></script>
<script src="{{url}}/assets/js/vendor/bootstrap-submenu.min.js"></script>
<script src="{{url}}/assets/js/iastate.js"></script>
<script src="{{url}}/assets/js/carousel.js"></script>
