<!-- post-nav -->

<div class="jumbotron" id="logobanner">
<!-- {% include _carousel.html height="78" unit="vh" duration="15" number="1" %}
 -->

    <div id="post-nav">
        <div id="slideshow" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner" role="listbox">
                {% for item in page.carousel.items %}
                    {% if forloop.index == 1 %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                        <img src="{{ site.url }}{{ site.baseurl }}/images/{{item.image}}" alt="{{item.caption}}" id="carousel-img">
                        <div class="carousel-caption">
                            <div class="carousel-caption-title">{{item.title}}</div>
                            <div class="carousel-caption-description">{{item.caption}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        
        <div class="carousel-controls">
            <div class="carousel-player">
                <button id="playButton" class="btn btn-carousel carousel-pause" type="button" aria-label="Pause Slideshow">
                    <span id="playSpan" class="fa fa-pause"> </span>
                </button>
            </div>
            <ol class="carousel-indicators" role="tablist">
                {% for item in page.carousel.items %}
                    {% assign index = forloop.index0 %}
                    {% assign index_letter = forloop.index %}
                    <li class="btn btn-carousel " data-target="#slideshow" data-slide-to="{{index}}" role="tab" id="tab-0-{{index}}" aria-controls="tabpanel-0-{{index}}" aria-selected="false" title="{{item.title}}" tabindex="{{index}}"> {{index_letter}} <span class="sr-only">{{item.caption}} <a class="btn btn-danger btn-sm font-bold btn-icon" href="{{item.link}}" target="_blank">Read More</a> </span> </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

</div>
<!-- <div class="jumbotron-fluid" id="post-nav" style="background-color: #E7E7E7; padding: 0%; display: flex; align-items: center;">
    <span> <img src="{{ site.url }}{{ site.baseurl }}/images/logo.png" style="max-width: 40%; position: relative; left: 25%; padding-top: 0.1% ; padding-bottom: 0% ; display: flex; align-items: center; min-width: 768px">  </span>
</div> -->
<!-- /post-nav -->

