/* #logobanner{
    background: url("../../images/logo.png") 50% no-repeat; 
    height: 55vh;
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
} */

#logobanner{
/*    height: 78vh;
*/    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
}



footer {
    position: relative;
    /* width: 100vw; */
    padding: inherit 0%;
    margin:inherit 0%;
    bottom: 0;
}
  
body#top-of-page > div.container-fluid {
    min-height: 75vh;
    max-width: 100vw;
}

#up-to-top {
    padding: 0px 0 10px 0;
}

/* #navigation.sticky{
    visibility:hidden;
    transition:ease-out;
    transform: 2s;
}

#navigation.sticky.fixed {
    visibility:unset;
    transition:ease-in;
    transform: 2s;
} */

/* Main */

#main {
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
}

#main > * {
    padding: 4rem 4rem 2rem 4rem ;
    border-top: solid 2px #eeeeee;
    margin: 0;
}

    #main > *:first-child {
        border-top: 0;
    }

#main > .post {
    padding: 6rem 6rem 6rem 6rem ;
}

    #main > .post header.major > .date {
        margin-top: -2rem;
    }

    #main > .post header.major > h1, #main > .post header.major h2 {
        font-size: 4rem;
        line-height: 1.1;
        margin: 0 0 2rem 0;
        text-align: center;
    }

    #main > .post.featured.p {
        text-align:justify;
    }

    @media screen and (max-width: 1280px) {

        #main > .post {
            padding: 6rem 4rem 4rem 4rem ;
        }

    }

    @media screen and (max-width: 736px) {

        #main > .post {
            padding: 4rem 2rem 2rem 2rem ;
        }

            #main > .post header.major > .date {
                margin-top: -1rem;
                margin-bottom: 2rem;
            }

            #main > .post header.major > h1, #main > .post header.major h2 {
                font-size: 2.5rem;
                line-height: 1.2;
                margin: 0 0 1.5rem 0;
            }

    }

#main > .posts {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
    text-align: center;
    width: 100%;
    padding: 0;
}

#main > .posts > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
}

#main > .posts > * {
    width: 50%;
}

#main > .posts > * {
    padding: 4rem;
    width: 50%;
}

#main > .posts > article {
    border-color: #eeeeee;
    border-left-width: 2px;
    border-style: solid;
    border-top-width: 2px;
    text-align: center;
}

    #main > .posts > article > :last-child {
        margin-bottom: 0;
    }

    #main > .posts > article:nth-child(2n - 1) {
        border-left-width: 0;
    }

    #main > .posts > article:nth-child(-n + 2) {
        border-top-width: 0;
    }

@media screen and (max-width: 980px) {

    #main > .posts > * {
        width: 50%;
    }

    #main > .posts > * {
        padding: 2.5rem;
        width: 50%;
    }

}

@media screen and (max-width: 736px) {

    #main > .posts > * {
        width: 100%;
    }

    #main > .posts > * {
        padding: 2rem;
        width: 100%;
    }

    #main > .posts > article:nth-child(2n - 1) {
        border-left-width: 2px;
    }

    #main > .posts > article:nth-child(-n + 2) {
        border-top-width: 2px;
    }

    #main > .posts > article:nth-child(n) {
        border-left-width: 0;
    }

    #main > .posts > article:nth-child(-n + 1) {
        border-top-width: 0;
    }

    #main > .posts > article .image {
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 736px) {

    #main > * {
        padding: 2rem 2rem 0.1rem 2rem ;
    }

}

@media screen and (max-width: 480px) {

    #main {
        width: 100%;
    }

}


/* Image */

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

    .image img {
        display: block;
    }

    .image.left, .image.right {
        max-width: 40%;
    }

        .image.left img, .image.right img {
            width: 100%;
        }

    .image.left {
        float: left;
        margin: 0 2rem 2rem 0;
        top: 0.75rem;
    }

    .image.right {
        float: right;
        margin: 0 0 2rem 2rem;
        top: 0.75rem;
    }

    .image.fit {
        display: block;
        width: 300px;
        height: 200px;
        align-self: center;
    }

        .image.fit:first-child {
            margin-top: 0;
        }

    .image.main {
        display: block;
        width: 100%;
    }

        .image.main:first-child {
            margin-top: 0;
        }

        .image.main img {
            width: 100%;
            height: auto;
        }

    @media screen and (max-width: 736px) {

        .image.fit {
            margin: 2rem 2rem;
        }

        .image.main {
            margin: 2rem 2rem;
        }

    }

a.image {
    overflow: hidden;
}

a.image img {
    -moz-transition: -moz-transform 0.2s ease-out;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    width: 300px;
    height: 200px;
}

a.image:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.panel {
    padding: 0%;
}

.panel{
    border-radius: 5px;
    border-color: #76eee8;
}

.panel .panel-heading {
	color: #000;
	background-color: #76eee8;
    padding: 5px;
    margin-top: 0vh;
    margin-left: 0vw;
}

.panel .row {
    padding: 10px;
}

