---
layout: default
---

<div style="margin-top: 5vh; padding: 20px; text-align:justify">
  {{content}}
</div>

<div style="padding: 10px;">
  <h1>Members of Translational AI Center</h1>
</div>



<h2>Director</h2>

{% for member in site.data.people.PI %}

<div class="row" style="padding: 15px;">
  <img src="{{ site.url }}{{ site.baseurl }}/images/members/{{ member.photo }}" class="img-responsive" width="25%"
    style="padding: 10px; float: left" />
  <h4><a href="{{member.webpage}}">{{ member.name }}</a></h4>
  <p><a href="tomail:{{member.email}}">{{ member.email }}</a></p>
  <ul style="list-style-type:none">
    <li> {{ member.description }} </li>
  </ul>
</div>
{% endfor %}


<h2>Associate Director</h2>

{% for member in site.data.people.co-PI %}
<div class="row" style="padding: 15px;">
  <img src="{{ site.url }}{{ site.baseurl }}/images/members/{{ member.photo }}" class="img-responsive" width="25%"
    style="padding: 10px; float: left" />
  <h4><a href="{{member.webpage}}">{{ member.name }}</a></h4>
  <p><a href="tomail:{{member.email}}">{{ member.email }}</a></p>
  <ul style="list-style-type:none">
    <li> {{ member.description }} </li>
  </ul>
</div>

{% endfor %}


<h2>Core Team</h2>

{% assign core_list = site.data.people.core_team | sort: "name"  %}

{% for member in core_list %}

<div class="row" style="padding: 15px;">
  {% if member.photo %}
  <img src="{{ site.url }}{{ site.baseurl }}/images/members/{{ member.photo }}" class="img-responsive" width="25%"
    style="padding: 10px; float: left" />
  {% else %}
  <img src="{{ site.url }}{{ site.baseurl }}/images/members/avatar.jpg" class="img" width="100px"
    style="padding: 10px; float: left" />
  {% endif %}
  <h4><a href="{{member.webpage}}">{{ member.name }}</a></h4>
  <p><a href="tomail:{{member.email}}">{{ member.email }}</a></p>
  <ul style="list-style-type:none">
    <li> {{ member.description }} </li>
  </ul>
</div>

{% endfor %}


<br>

<h2>Other Team Members</h2>

{% assign member_list = site.data.people.team | sort: "name"  %}

{% assign number_printed = 0 %}
{% for member in member_list %}

{% assign even_odd = number_printed | modulo: 2 %}

{% if even_odd == 0 %}
<div class="row">
  {% endif %}

  <div class="col-md-6" style="text-align:justify">
    {% if member.photo %}
    <img src="{{ site.url }}{{ site.baseurl }}/images/members/{{ member.photo }}" class="img" width="200px"
      height="200px" style="padding: 10px; float: left" />
    {% else %}
    <img src="{{ site.url }}{{ site.baseurl }}/images/members/avatar.jpg" class="img" width="100px"
      style="padding: 10px; float: left" />
    {% endif %}
    <h4><a href="{{member.webpage}}">{{ member.name }}</a></h4>
    <p><a href="tomail:{{member.email}}">{{ member.email }}</a></p>
    <br>
    <ul style="list-style-type: none">
      <li> <b>Thrust Area:</b> {{ member.thrust_area }} </li>
      <li> <b>Research Interests:</b> {{ member.research_interests }}<br> </li>
    </ul>
  </div>

  {% assign number_printed = number_printed | plus: 1 %}

  {% if even_odd == 1 %}
</div>
{% endif %}

{% endfor %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if even_odd == 1 %}
</div>
{% endif %}
<br>