---
layout: default
format: activities
---


<!-- Main -->
<div id="main">

	<!-- Featured Post -->
		<article class="post featured">
			<header class="major">
				<h2><a href="#">Activities</a></h2>
				<p> Some text needed here</p>
			</header>
		</article>

	<!-- Posts -->
		<section class="posts">
			<article>
				<header>
					<h2><a href="#"> </a></h2>
				</header>
				<iframe max-width="100%" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLKsjpRJVRMktLe8qJpQ6I79CHLUDVua_T" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p>Weekly Seminars</p>
				<a href="seminars/" class="button" style="float: center">More details</a>
				
			</article>
			<article>
				<header>
					<h2><a href="#"> </a></h2>
				</header>
				<a href="#" class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/activities/seminar.svg" style="max-width: 50%; float: center" alt="" /></a>
				<p>Journal Club</p>
				<ul class="actions special">
					<li><a href="journalclub/" class="button" style="float: center" > More details</a></li>
				</ul>
			</article>
			<article>
				<header>
					<h2><a href="#"> </a></h2>
				</header>
				<a href="#" class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/activities/seminar.svg" style="max-width: 50%; float: center" alt="" /></a>
				<p>Tutorials</p>
				<a href="tutorials/" class="button" style="float: center">More details</a>
				
			</article>
			<article>
				<header>
					<h2><a href="#"> </a></h2>
				</header>
				<a href="#" class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/activities/seminar.svg" style="max-width: 50%; float: center" alt="" /></a>
				<p>Workshops</p>
				<a href="workshops/" class="button" style="float: center">More details</a>
				
			</article>
		</section>

</div>