<!DOCTYPE html>
<html lang="en">
	<head>
		{% include _head.html %}
	</head>
<body>

{% include _navbar.html %}

{% include _postnav.html %}


<main role="main" id="main-content" class="">
		
	<div class="jumbotron jumbotron-fluid" style="background-color: #F1BE48;">
		<div class="row t60" >
			{% for widget in page.widgets %}
			<div class="col-md-4">
				<a href="{{widget.url}}" class="thumbnail" style="background: transparent;">
				<img src="{{ site.url }}{{ site.baseurl }}/images/{{widget.image}}" style="align-content: center; height: 35vh; width: auto;">
				</a>
				<a href="{{widget.url}}" class="thumbnail" style="text-align: center; background: transparent;"> <span class="label label-primary" style="font-size: x-large"> {{widget.title}} </span> </a>
			</div>
			{% endfor %}
		</div>
	</div>
		
	<div class="container container-fluid">
		{% if page.widgets %}
			<div class="jumbotron jumbotron-fluid" style=" padding-left: 30px; padding-right: 30px; margin-top: 30px; align-items: center;">
				<div class="row ">
					{% include _news.html %}
				</div>		
			</div>
		{% endif %}
	</div>
</main>
<!-- /main -->


{% include _footer.html %}

</body>
</html>
