---
layout: default
format: IndustryPartners
---

{{content}}

{% assign partner_list = site.data.industrypartners | sort: "Name" %}
<h2> Partners </h2>
{% for partner in partner_list%}
<div class="panel">
    <div class="panel-heading">
<!--        <div class="label"> <span class="label label-primary"> {{project.FY}} </span> </div>-->
        <h4> {{partner.Name}} </h4>
    </div> <!-- panel-heding -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <h4>Reach us:</h4>
                <div><a href="{{partner.Website}}" target="_blank">Website</a></div>
            </div> <!-- column -->
            <div class="col-md-5">
                {% if partner.Logo != empty %}
                <img src="{{ site.url }}{{ site.baseurl }}/images/industrypartners/{{partner.Logo }}" alt="" style="max-height:100px"/>
                {% endif %}
            </div>
        </div> <!-- row -->

        <div class="row" style="text-align: justify; padding-left: 30px; padding-right:30px">
            {% if partner.Description != empty %}
            <h4>About</h4>
            <p>
                {{partner.Description}}
            </p>
            {% endif %}
        </div>

    </div> <!-- panel-body -->
</div> <!-- panel -->

{% endfor %}