---
layout: default
format: research
---

<div id="main">

	<!-- Featured Post -->
		<article class="post featured">
			<header class="major">
				<h2><a href="#">Research</a></h2>
				<p> {{content}}</p>
			</header>
			<a href="#" class="image main"><img src="{{ site.url }}{{ site.baseurl }}/images/TrACResearch.png" alt="" /></a>
		</article>

	<!-- Posts -->
		<section class="posts">
			<article>
				<header>
					<h2><a href="#"> </a></h2>
				</header>
				<a href="#" class="image"><img src="{{ site.url }}{{ site.baseurl }}/images/aicore.png" alt="" /></a>
				<p>Core AI algorithms development</p>
				<a href="aicore/" class="button" style="float: center">More details</a>
				
			</article>
			<article>
				<header>
					<h2><a href="#"> </a></h2>
				</header>
				<a href="#" class="image"><img src="{{ site.url }}{{ site.baseurl }}/images/autonomy.png" alt="" /></a>
				<p>Autonomy</p>
				<ul class="actions special">
					<li><a href="autonomy/" class="button" style="float: center" > More details</a></li>
				</ul>
			</article>
			<article>
				<header>
					<h2><a href="#"> </a></h2>
				</header>
				<a href="#" class="image"><img src="{{ site.url }}{{ site.baseurl }}/images/ethics.png" alt="" /></a>
				<p>Ethics</p>
				<a href="ethics/" class="button" style="float: center">More details</a>
				
			</article>
			<article>
				<header>
					<h2><a href="#"> </a></h2>
				</header>
				<a href="#" class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/materialsdesign.png" alt="" /></a>
				<p>Materials, Design and Manufacturing</p>
				<ul class="actions special">
					<li><a href="materialsdesign/" class="button" style="float: center" > More details</a></li>
				</ul>
			</article>
			<article>
				<header>
					<h2><a href="#"> </a></h2>
				</header>
				<a href="#" class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/foodenergywater.png" alt="" /></a>
				<p>Food, Energy & Water</p>
				<a href="few/" class="button" style="float: center">More details</a>
				
			</article>
			<article>
				<header>
					<h2><a href="#"> </a></h2>
				</header>
				<a href="#" class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/healthcare.png" alt="" /></a>
				<p>Health & Quality of Life</p>
				<ul class="actions special">
					<li><a href="hql/" class="button" style="float: center" > More details</a></li>
				</ul>
			</article>
		</section>

</div>