---
layout: default
format: seminars
---


{% assign all_talks = site.data.seminars | reverse %}
<h1> TrAC Weekly Seminar Series </h1>

<p>
	The TrAC weekly seminar series is a forum for multiple ISU investigators and external collaborators to accelerate knowledge transfer from fundamental scientific advances in AI to industrial applications. The TrAC seminar meets Fridays at the lunch time, with a lead speaker, raising issues and exchanging ideas on topics of current interest in the area of Translational AI and related advances.  The format consists of a lead presentation of about 50 minutes, followed by questions and discussions.
</p>

<h2> Upcoming Talks </h2>
<main role="main" id="main-content" class="">
	<div class="container">
		<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showTz=0&showTitle=0&showNav=1&showDate=1&showPrint=0&showTabs=0&showCalendars=1&src=YWU2ZTQ1NTAzOWViYWE3OTEwNjAxZjQ3MzFkZDBiMDE5YTVjMDY0ZWUyYWZhZmI2YjAzNTY0NjFmMTE0MDUxOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23A79B8E" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</main>


For information on past seminars, please click <a href="{{ site.url }}{{ site.baseurl }}/Activities/seminars/past">here</a>.