---
layout: default
format: seminars
---


{% assign all_talks = site.data.seminars | reverse %}
{% assign past_talks = all_talks | shift %}
{% assign upcoming_talks = all_talks | first %}

<h1> TrAC Weekly Seminar Series </h1>

<p>
	The TrAC weekly seminar series is a forum for multiple ISU investigators and external collaborators to accelerate knowledge transfer from fundamental scientific advances in AI to industrial applications. The TrAC seminar meets Fridays at the lunch time, with a lead speaker, raising issues and exchanging ideas on topics of current interest in the area of Translational AI and related advances.  The format consists of a lead presentation of about 50 minutes, followed by questions and discussions.
</p>

<h2> Upcoming Talks </h2>

<div class="row" style="padding:20px">
	<div class="panel" style="border-color: #84e45ebf;">
		<div class="panel-heading" style="background-color: #84e45ebf;">
			<div class="label"> <span class="label label-primary"> {{upcoming_talks.date}} </span> </div>
		</div> <!-- panel-heding -->
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">
					<h4> {{ upcoming_talks.Presenter }}</h4>
					<h5>{{ upcoming_talks.Affiliation }}</h5>
				</div> <!-- column -->
				<div class="col-md-9" style="padding:10px">
					{% if upcoming_talks.video or upcoming_talks.flyer %}
						<div class="responsive-embed" >
							<embed src="{{ site.url }}/{{site.baseurl}}/seminar-flyers/{{upcoming_talks.flyer}}" width="100%" height="375"  type="application/pdf">
						</div>
					{% else %}
					<p> No media to show </p>
					{% endif %}
				</div>
			</div> <!-- row -->
		</div> <!-- panel-body -->
	</div>
</div>


<h2> Past Talks </h2>


<div class="row t60" style="padding:20px">
	{% for item in  past_talks %}
		<div class="panel">
			<div class="panel-heading">
				<div class="label"> <span class="label label-primary"> {{item.date}} </span>  </div>
			</div> <!-- panel-heding -->
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<h4> {{ item.Presenter }}</h4>
						<h5>{{ item.Affiliation }}</h5>
						<!-- <embed src="{{ site.url }}assets/seminar-flyers/{{item.flyer}}" width="500" height="375"  type="application/pdf"> -->
					</div> <!-- column -->
					<div class="col-md-8" style="padding:10px">
						{% if item.video or item.flyer %}
							{% if item.video %}
							<div class="responsive-embed" >
								<iframe width="100%" height="315" src="{{item.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							{% else %}
							<div class="responsive-embed" >
								<embed src="{{ site.url }}/{{site.baseurl}}/seminar-flyers/{{item.flyer}}" width="100%" height="375"  type="application/pdf">
							</div>
							{% endif %}
						{% else %}
							<p> No media to show </p>
						{% endif %}
					</div>
				</div> <!-- row -->
			</div> <!-- panel-body -->
		</div> <!-- panel -->
	{% endfor %}
</div>